.search-body {
    background-color: #fffafa;
    height: 130vh;
    margin-left: 10%;
    margin-right: 10%;

}
.serch-navs {
    margin-top: 30px;
}
.search-nav-sel {
    background-color: #f08080;
}

.search-nav-sel:hover {
    background-color: #f9aeae;
}

.search-nav-link-sel {
    color:white;
}

.search-nav-link-sel:hover {
    color:#f06060;
    border:none
}

.search-nav-link {
    color:red;
}

.search-nav-link:hover {
    color:pink;
}



.result-container {
    float: left;
    width: 100%;
}

.songs-container {
    border: 1px solid #e2e2e2;
    border-top: 2px solid #c20c0c;
}

.song {
    overflow:hidden;
}

.song-image {
    float: left;
    height: 50px;
    width: 50px;
}

.song-info {
    text-align: left;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-top: 10px;
    width: 480px;
}

.txt {
    
    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
}

.song-name {
    color: #333;
    font-weight: bold;
}

.song-art {
    color: #aeaeae;
}

.song-detail {
    text-align: right;
    float: right;
    position: relative;
    padding-left: 15px;
    padding-top: 10px;

}

.song-time {
    color:#666;
    margin-left: 100px;
    padding-top: 10px;
    float:left
}

.song-comment {
    color: #555;
    float:right;
    padding-top: 10px;
}
